.chck {
  height: 400px;
  margin-top: 16%;
}

.hd {
  font-family: Helvetica, Arial, sans-serif, Helvetica, Arial, sans-serif;
  font-size: 44px;
  font-weight: 700;
  line-height: 58px;
  margin-right: 6%;
  color: white;
}

.hd2 {
  font-family: Helvetica, Arial, sans-serif, Helvetica, Arial, sans-serif;
  font-size: 20px;
  font-weight: 400;
  line-height: 37px;
  margin-right: 6%;
  margin-top: 4%;
  color: white;
}

.free {
  font-size: 22px;
  font-family: Helvetica, Arial, sans-serif, Helvetica, Arial, sans-serif;
  font-size: 22px;
  font-weight: 700;
  line-height: 37px;
margin-top: 6%;
  color: #031043;
}
